.site-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    font-family: Roboto, serif;
    color: black;
}

.logo {
    height: 200px;
}